<!-- views/partials/comment-form.handlebars -->

    <form action="/charities/comments" method="post">
        <input type="hidden" value="{{charity._id}}" name="charity">

      <fieldset>
      <legend>Make a Donation</legend>
    <!-- TITLE -->
    <div class="form-group">
      <label for="comment-Amount">Amount</label><br>
      <input class="form-control"
        id="comment-title"
        type="number"
        name="amount"
        required
        placeholder="Amount"/>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="comment-content">Description</label><br>
      <textarea class="form-control"
      id="comment-content"
      name="content"
      rows="10"
      placeholder="Your comment..."/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>
