<!-- views/charities-show.handlebars -->
<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

<title>About Us</title>
<body>
<h1> Abount Us</h1>


<img src="http://2.bp.blogspot.com/-FHH4_4AGePM/U52MXmvb8gI/AAAAAAAAAgY/7_FP_AkSKes/s1600/the-best-of-the-skeptical-3rd-world-kid-meme.jpg" alt="Give us money!!">

<p>
Y-Yelp is a good place for all of your charity needs. with Y-Yelp, you can
create giving campigns and challange your friends to give by createing campigns.
So get your tax shield today and show off to your friends.....Give us your money!


....Sems legit...
</p>




</body>
</div>
</div>
