<form method="POST" action="/charity">
  <fieldset>
    <legend>New Gift</legend>
    <!-- TITLE -->
    <p>
      <label for="gift-title">Gift</label><br>
      <input id="gift-title" type="text" name="Gift" />
    </p>

    <!-- MOVIE TITLE -->
    <p>
      <label for="CharName">Name of Charity</label><br>
      <input id="CharName" type="text" name="CharName" />
    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit Gift">Save Review</button>
  </p>

</form>
