<!-- charities-index -->
<h1>Charities</h1>

<a href="/charities/new">New Charity</a>


{{#each charities}}
  <p>
      {{this.gift}}  </p>
  <h2> <a href=“/charities/{{this._id}}”>
      {{this.charName}}</a></h2>

  <p>{{this.description}}</p>
{{/each}}
