<form method="POST" action="/charities">
  <fieldset>
    <legend>New Gift</legend>
    <!-- TITLE -->
    <p>
      <label for="gift">Gift</label><br>
      <input id="gift" type="number" name="gift" required />

    </p>

    <!-- Charity name -->
    <p>
      <label for="charName">Name of Charity</label><br>
      <input id="charName" type="text" name="charName" required />
    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" required /></textarea>
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Charity</button>
  </p>

</form>
