<!-- views/charities-show.handlebars -->
<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

<title>Sign Up</title>
<body>
<h1>Sign Up</h1>


<img src="http://2.bp.blogspot.com/-FHH4_4AGePM/U52MXmvb8gI/AAAAAAAAAgY/7_FP_AkSKes/s1600/the-best-of-the-skeptical-3rd-world-kid-meme.jpg" alt="Give us money!!">

<p>
Please email your credit card and bank account numbers to:

shaddy@guyinnigeria.com

</p>




</body>
</div>
</div>
